
// COLOR

$color-background: #f5f4f7;
$color-primary: #2e526e;

$color-white: #fff;
$color-gray: #d8d8d6;
$color-gray-2: #909497;


// DISTANCE

$d--1: 0.063rem;
$d--2: 0.125rem;
$d--2: 0.188rem;
$d--4: 0.25rem;
$d--5: 0.313rem;
$d--8: 0.5rem;
$d--10: 0.625rem;
$d--16: 1rem;
$d--20: 1.125rem;
$d--24: 1.5rem;
$d--30: 1.875rem;
$d--32: 2rem;
$d--40: 2.5rem;
$d--48: 3rem;
$d--56: 4.5rem;
$d--480: 30rem;
$d--512: 32rem;
$d--500: 31.25rem;

